@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


body{
  @apply bg-grey-p
}
li {
  @apply p-4 list-none decoration-1 hover:cursor-pointer hover:underline hover:underline-offset-8
}

button,.btn{
  @apply items-center m-4 bg-grey-p text-black-p px-5 py-2 rounded-md text-xl hover:bg-black-p hover:text-grey-p border ease-in duration-300
                    
}

input,textarea{
  @apply rounded-md p-2 text-xl border border-grey-l focus:outline-red-s text-black-p
}

.anim{
  position: absolute;
  animation: anim 20s linear infinite ; 
}

.anims{
  position: absolute;
  animation: anims 20s linear infinite ; 
  
}


@tailwind utilities;

@keyframes anim  {
  from   { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

